#wk-bc-widget {
	width: 100%;
}
#wk-bc-widget body {
	margin: 0;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	color: #2d2d2d;
}
#wk-bc-widget * {
	box-sizing: border-box;
}
#wk-bc-widget *:focus {
	outline: none;
}
#wk-bc-widget .pull-left {
	float: left;
}
#wk-bc-widget .pull-right {
	float: right;
}
#wk-bc-widget .wk-bc-hide {
	display: none;
}
#wk-bc-widget .hide {
	display: none;
}
#wk-bc-widget .wk-bc-widget-toggle-btn {
	min-width: 120px;
	display: inline-block;
	background: #1747e3;
	color: #fff;
	font-weight: 500;
	text-align: center;
	cursor: pointer;
	font-size: 18px;
	padding: 10px 20px;
	border-color: #1747e3;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	position: absolute;
	right: 0;
}
#wk-bc-widget body.active .wk-bc-widget-toggle-btn {
	right: 429px;
	position: fixed;
	top: 50%;
	margin-top: -50px;
	min-width: 34px;
	padding: 0px 0px 10px 0;
	background: #fff;
	border-color: #fff;
	box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
}
#wk-bc-widget .wk-bc-widget-toggle-btn .bk {
	vertical-align: middle;
	margin-left: 10px;
	margin-bottom: 3px;
}
#wk-bc-widget body.active .wk-bc-widget-toggle-btn .text {
	display: none;
}
#wk-bc-widget body.active .wk-bc-widget-toggle-btn .bk {
	margin-top: 14px;
	background-position: -377px -1px;
}
#wk-bc-widget body.active .wk-bc-widget-toggle-btn .overlay {
	position: absolute;
	height: 50px;
	width: 10px;
	right: -10px;
	background: #fff;
	display: inline-block;
	top: -1px;
}
#wk-bc-widget .wk-bc-widget {
	display: none;
	width: 100%;
	float: left;
	background-color: transparent;
	min-height: 100%;
	height: 100%;
}

#wk-bc-widget body.active .wk-bc-widget {
	display: inline-block;
}
#wk-bc-widget .wk-bc-widget-body {
	margin-bottom: 50px;
	background-color: transparent;
	max-width: 430px
}
#wk-bc-widget .profile-image {
	position: absolute;
	top: 125px;
	width: 150px;
	height: 150px;
	left: 50%;
	margin-left: -75px;
	border-radius: 50%;
	background-color: #dcdcdc;
	overflow: hidden;
}
#wk-bc-widget .sticky-header .profile-image {
	display: none;
}
#wk-bc-widget .profile-image img {
	width: 100%;
}
#wk-bc-widget .header-info {
	display: none;
}
#wk-bc-widget .small-profile-image {
	width: 55px;
	height: 55px;
	display: none;
}
#wk-bc-widget .sticky-header .small-profile-image {
	float: left;
	display: inline-block;
	margin-right: 10px;
}
#wk-bc-widget .small-profile-image img {
	width: 100%;
}
#wk-bc-widget .sticky-header .small-profile-info {
	display: block;
	overflow: hidden;
}
#wk-bc-widget .profession-info {
	text-align: center;
	padding-top: 55px;
}
#wk-bc-widget .sticky-header .profession-info {
	padding-top: 0;
	text-align: left;
}
#wk-bc-widget .profession-info h3 {
	font-size: 18px;
	margin-bottom: 0;
	font-weight: 400;
}
#wk-bc-widget .sticky-header .profession-info h3 {
	margin-top: 9px;
	font-size: 14px;
}
#wk-bc-widget .profession-info p {
	color: #4b4b4b;
	margin-top: 5px;
}
#wk-bc-widget .sticky-header .profession-info p {
	color: #fff;
	margin: 0;
}
#wk-bc-widget .sticky-header .booking-product-list {
	padding-top: 40px;
}
#wk-bc-widget .booking-product-list h3 {
	text-align: center;
	font-weight: 500;
	font-size: 14px;
	margin-bottom: 20px;
	position: relative;
	margin-top: 0;
}
#wk-bc-widget .booking-product-list .booking-product {
	padding: 20px;
	width: 100%;
	display: inline-block;
	position: relative;
}
#wk-bc-widget .booking-product-list .booking-product:hover {
	box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	overflow: hidden;
}
#wk-bc-widget .booking-product span.seperator {
	position: absolute;
	width: 80%;
	display: inline-block;
	border-bottom: 1px solid #d3d3d3;
	left: 10%;
	top: 0;
}
#wk-bc-widget .booking-product:hover span.seperator,
#wk-bc-widget .booking-product-list .booking-product:hover + .booking-product span.seperator {
	display: none;
}
#wk-bc-widget .booking-product-list .booking-product h1 {
	font-size: 28px;
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 10px;
}
#wk-bc-widget .booking-product-list .booking-product p {
	color: #4b4b4b;
	margin-top: 0;
	word-break: break-all;
}
#wk-bc-widget .btn {
	text-transform: uppercase;
	cursor: pointer;
	font-weight: 600;
	text-decoration: none;
}
#wk-bc-widget .btn:focus {
	outline: none;
}
#wk-bc-widget .btn.btn-primary {
	width: 65px;
	height: 65px;
	border: none;
	color: #fff;
	background: #2961e4;
	/* For browsers that do not support gradients */
	background: -webkit-linear-gradient(-175deg, #0544c2 0, #3a7bff 100%);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(-175deg, #0544c2 0, #3a7bff 100%);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(-175deg, #0544c2 0, #3a7bff 100%);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(-175deg, #0544c2 0, #3a7bff 100%);
	/* Standard syntax */
}
#wk-bc-widget .btn.btn-primary.circle {
	border-radius: 50%;
}
#wk-bc-widget .btn.btn-primary.circle:hover {
	background: -webkit-linear-gradient(#fff, #fff);
	background: -o-linear-gradient(#fff, #fff);
	background: -moz-linear-gradient(#fff, #fff);
	background: linear-gradient(#fff, #fff);
	box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
}
#wk-bc-widget .btn.btn-primary.circle:hover .bk {
	background-position: -109px 0;
}
#wk-bc-widget .btn.btn-default {
	padding: 15px 35px;
	border-radius: 4px;
	border: 1px solid #1747e3;
	color: #1747e3;
	background: #fff;
}
#wk-bc-widget .btn.btn-sm {
	display: inline-block;
	padding: 6px 15px;
}
#wk-bc-widget .booking-product-action {
	margin-top: 20px;
	display: inline-block;
	width: 100%;
}
#wk-bc-widget .available {
	color: #56be4b;
	line-height: 59px;
	font-weight: 600;
}
#wk-bc-widget .available .bk.bk-confirm-booking-green {
	vertical-align: middle;
	margin-right: 3px;
	margin-bottom: 2px;
}
#wk-bc-widget .un-available {
	color: #ff5656;
	line-height: 59px;
	font-weight: 600;
}
#wk-bc-widget .un-available .bk.bk-cross {
	vertical-align: middle;
	margin-right: 3px;
	margin-bottom: 2px;
}
#wk-bc-widget .sticky-header .wk-booking-product-info {
	padding-top: 55px;
}
#wk-bc-widget .wk-booking-product-info h1 {
	font-size: 28px;
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 5px;
}
#wk-bc-widget .wk-booking-product-info p {
	color: #4b4b4b;
	margin-top: 0;
}
#wk-bc-widget .wk-booking-product-info-row {
	margin-top: 20px;
}
#wk-bc-widget .wk-booking-product-info-row .btn {
	margin-top: 10px;
}
#wk-bc-widget .wk-bc-widget-body.extended .wk-booking-product-info-row {
	display: block;
}
#wk-bc-widget .sticky-header .wk-bc-widget-body {
	margin-top: 120px;
}
#wk-bc-widget .wk-booking-product-info-row:last-child {
	margin-bottom: 20px;
	width: 100%;
	display: inline-block;
}
#wk-bc-widget .wk-booking-product-info-row h3 {
	font-weight: 400;
	font-size: 15px;
	position: relative;
	margin-bottom: 8px;
}
#wk-bc-widget .wk-booking-product-info-row .custom-info-row {
	float: left;
}
#wk-bc-widget .wk-booking-product-info-row h3 .border-bottom {
	left: 20px;
	width: 30px;
}
#wk-bc-widget .wk-booking-product-info-row label {
	float: left;
	margin-right: 10px;
}
#wk-bc-widget .wk-booking-product-info-row span {
	color: #777;
}
#wk-bc-widget .back-btn {
	display: inline-block;
	margin: 0 0 20px 0;
	text-transform: uppercase;
	color: #999;
	font-weight: 600;
	cursor: pointer;
}
#wk-bc-widget .back-btn:hover {
	color: #777;
}
#wk-bc-widget .back-btn .bk {
	vertical-align: middle;
	margin-right: 5px;
	margin-bottom: 4px;
}
#wk-bc-widget .back-btn:hover .bk {
	background-position: -22px 0;
}
#wk-bc-widget .accordian-wrapper {
	border-bottom: 1px solid #d3d3d3;
	position: relative;
	margin: 60px 0;
	width: 100%;
}
#wk-bc-widget .accordian {
	width: 45px;
	height: 45px;
	border: 1px solid #d3d3d3;
	position: absolute;
	border-radius: 50%;
	left: 50%;
	margin-left: -22.5px;
	top: -22px;
	background: #fff;
	cursor: pointer;
	text-align: center;
}
#wk-bc-widget .accordian .bk {
	margin-top: 12px;
}
#wk-bc-widget .card-header {
	text-transform: uppercase;
	font-size: 14px;
	padding: 0px 20px 15px 20px;
	width: 100%;
	display: inline-block;
}
#wk-bc-widget .card:not(.active):not(.completed) .card-header {
	margin-bottom: 5px;
}
#wk-bc-widget .card-header h3 {
	color: #999;
	font-weight: 400;
	float: left;
	margin: 0;
}
#wk-bc-widget .card-header .change-info-link {
	color: #1747e3;
	float: right;
	display: none;
	cursor: pointer;
	text-transform: capitalize;
}
#wk-bc-widget .card.completed .change-info-link {
	display: block;
}
#wk-bc-widget .card.active .change-info-link {
	display: none;
}
#wk-bc-widget .card-body {
	width: 100%;
	display: inline-block;
	background-color:transparent;
	padding: 12px;
	border-radius: 4px;
	display: none;
	margin-bottom: 40px;
	border: 1px solid rgba(0, 0, 0, 0.2);
}
#wk-bc-widget .card.active .card-body,
#wk-bc-widget .card.completed .card-body {
	display: inline-block;
}
#wk-bc-widget .card-body .booking-info {
	display: none;
}
#wk-bc-widget .card.completed .booking-info {
	display: block;
}
#wk-bc-widget .card.completed .wk-form-wrapper {
	display: none;
}
#wk-bc-widget .card-info {
	display: none;
}
#wk-bc-widget .card.completed .card-info {
	display: block;
}
#wk-bc-widget .card-info .card-info-row {
	color: #777;
	font-weight: 600;
	margin-bottom: 10px;
}
#wk-bc-widget .card-info .card-info-row label {
	color: #2d2d2d;
	margin-right: 5px;
	min-width: 80px;
	display: inline-block;
}
#wk-bc-widget .wk-form-group {
	margin-bottom: 20px;
	float: left;
	width: 100%;
}
#wk-bc-widget .wk-form-group label {
	color: #4b4b4b;
	font-weight: 400;
}
#wk-bc-widget .card.paymentMethod .wk-form-group label {
	color: #777;
	font-weight: 600;
}
#wk-bc-widget .card.paymentMethod .wk-form-group input:checked + label {
	color: #2d2d2d;
}
#wk-bc-widget .wk-form-control {
	font-size: 15px;
	height: 45px;
	margin-top: 10px;
	padding: 0 10px 0 10px;
	width: 100%;
	background: #fff;
	border-radius: 4px;
	color: #4b4b4b;
	border: 1px solid #d3d3d3;
}
#wk-bc-widget .wk-form-control:focus {
	border: 1px solid #1747e3;
}
#wk-bc-widget .bk-radio {
	position: relative;
	display: inline-block;
	top: 5px;
	margin-right: 5px;
}
#wk-bc-widget .bk-radio input {
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	z-index: 100;
}
#wk-bc-widget .bk-radio .bk-radio-view {
	background-image: url("../images/controls.svg");
	background-position: -20px 0px;
	height: 21px;
	width: 21px;
	margin: 0 !important;
	display: inline-block;
}
#wk-bc-widget .bk-radio input:checked + .bk-radio-view {
	background-position: -20px -20px;
}
#wk-bc-widget .required::after {
	width: 5px;
	height: 5px;
	background: #ff5656;
	display: inline-block;
	content: "";
	margin-left: 5px;
	border-radius: 50%;
	vertical-align: middle;
	margin-top: -3px;
}
#wk-bc-widget .has-error .error-message {
	color: #ff5656;
	margin-top: 5px;
	font-weight: 500;
}
#wk-bc-widget .has-error .wk-form-control {
	border-color: #ff5656;
}
#wk-bc-widget .card.paymentMethod .wk-form-group {
	margin-bottom: 10px;
}
#wk-bc-widget .success-booking-wrapper {
	text-align: center;
}
#wk-bc-widget .success-booking-wrapper h1 {
	font-size: 32;
	font-weight: 300;
	display: inline-block;
	max-width: 100%;
	margin: 0;
	margin-bottom: 10px;
}
#wk-bc-widget .success-booking-wrapper h1::before {
	content: url("../images/icon-check.svg");
	position: relative;
	top: 12px;
	margin-right: 11px;
}
#wk-bc-widget .success-booking-wrapper p {
	color: #4b4b4b;
	margin-top: 0px;
}
#wk-bc-widget .booking-info {
	background: #f2f2f2;
	display: inline-block;
	text-align: left;
	padding: 15px 30px;
	width: 322px;
	border-radius: 4px;
	margin-top: 50px;
	margin-bottom: 50px;
	font-weight: 600;
	color: #4b4b4b;
}
#wk-bc-widget .booking-info-row {
	width: 100%;
	display: inline-block;
	font-weight: 500;
	margin-bottom: 5px;
}
#wk-bc-widget .booking-info-row label {
	margin-right: 15px;
	color: #2d2d2d;
}
#wk-bc-widget .booking-info-row .bk {
	margin-right: 8px;
	font-size: 18px;
	width: 18px;
	margin-top: -3px;
	vertical-align: middle;
}
#wk-bc-widget .calendar-block {
	margin: auto;
}
#wk-bc-widget .calendar-block label {
	position: relative;
}
#wk-bc-widget .calendar-block label .border-bottom {
	height: 5px;
	width: 60px;
	border-bottom: 2px solid #1894ff;
	display: inline-block;
	position: absolute;
	left: 23px;
	margin: 0;
}
#wk-bc-widget .calendar-block span.calendar-link {
	display: inline-block;
	font-weight: 600;
	vertical-align: top;
	width: 50%;
}
#wk-bc-widget .calendar-block span.calendar-link a {
	text-decoration: none;
}
#wk-bc-widget .calendar-link-wrapper {
	width: 100%;
	display: inline-block;
	margin-top: 40px;
}
#wk-bc-widget .success-booking-wrapper .button-block {
	margin: 40px 0;
}
#wk-bc-widget .success-booking-wrapper .button-block button {
	text-decoration: none;
	background: #cccccc;
	color: #fff;
	font-weight: 600;
	padding: 12px 15px;
	border-radius: 4px;
	border: none;
}
#wk-bc-widget .loader-view {
	background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 500;
	top: 0;
}
#wk-bc-widget .loader-view .loader {
	height: 60px;
	left: 50%;
	margin-left: -50px;
	margin-top: -50px;
	position: absolute;
	top: 50%;
	width: 60px;
	background-image: url(../images/loader.gif);
	display: inline-block;
	background-position: 0;
	background-size: 60px;
}
#wk-bc-widget .disabled-scroll {
	overflow: hidden;
	position: relative;
}
#wk-bc-widget .notification {
	color: #fff;
	padding: 10px 20px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	font-weight: 600;
}
#wk-bc-widget .notification.error {
	background: #ff5656;
}
#wk-bc-widget .notification.success {
	background: #56be4b;
}
#wk-bc-widget .notification .close-btn {
	position: absolute;
	right: 10px;
	top: 10px;
	font-weight: 700;
	cursor: pointer;
}
#wk-bc-widget .star {
	background-image: url(../images/icons-stars.svg);
	background-position: -13px 0px;
	height: 12px;
	width: 13px;
	display: inline-block;
	margin-right: 5px;
}
#wk-bc-widget .star.active {
	background-position: 0px 0px;
}
#wk-bc-widget .star-lg {
	background-image: url(../images/icons-stars.svg);
	background-position: -18px -12px;
	height: 18px;
	width: 18px;
	display: inline-block;
	margin-right: 5px;
}
#wk-bc-widget .star-lg.active {
	background-position: 0px -12px;
}
#wk-bc-widget .view-review-link {
	font-size: 12px;
	color: #6c6c6c;
	cursor: pointer;
}
#wk-bc-widget .rating-view .wk-bc-widget-body {
	padding: 0;
}
#wk-bc-widget .rating-view .wk-bc-widget-body .back-btn {
	padding: 20px 0 0 20px;
}
#wk-bc-widget .review-item {
	border-bottom: 1px solid #d3d3d3;
	padding: 20px;
}
#wk-bc-widget .review-item:last-child {
	border-bottom: 0;
}
#wk-bc-widget .review-item h3 {
	margin: 0;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-weight: 400;
	color: #555;
}
#wk-bc-widget .review-item label {
	margin-top: 10px;
	display: inline-block;
	font-weight: 400;
	color: #333;
}
#wk-bc-widget .review-item p {
	margin: 0;
	margin-top: 5px;
	font-weight: 400;
	color: #555;
}
#wk-bc-widget .review-item span.customer-name {
	margin-top: 15px;
	display: inline-block;
	font-weight: 400;
	color: #999;
}
#wk-bc-widget .rating-view .view-review-link {
	display: none;
}
#wk-bc-widget .rating-count {
	display: none;
}
#wk-bc-widget .rating-view .rating-count {
	display: inline-block;
}
#wk-bc-widget .datepicker,
#wk-bc-widget .datepicker-2 {
	position: relative;
	width: 100%;
	float: left;
}
#wk-bc-widget .datepicker {
	z-index: 3;
}
#wk-bc-widget .dp-below {
	width: 100%;
	max-width: 300px;
	z-index: 1;
}
#wk-bc-widget .dp-permanent,
#wk-bc-widget .dr-cals .dp-permanent {
	position: absolute !important;
	max-width: 400px;
	left: 0;
	display: none;
	top: 75px;
	width: 100%;
}
#wk-bc-widget .datepicker.open .dp-permanent,
#wk-bc-widget .datepicker-2.open .dp-permanent {
	display: block;
}
#wk-bc-widget .dp-years {
	max-height: 200px !important;
}
#wk-bc-widget .dp-cal-header {
	padding-bottom: 8;
}
#wk-bc-widget .dp-cal-month,
#wk-bc-widget .dp-cal-year {
	padding: 8px 8px 8px;
	margin-top: 8px;
}
.wk-hide{
	display:none;
}
#wk-bc-widget body {
	margin: 0;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	color: #2d2d2d;
}
#wk-bc-widget * {
	box-sizing: border-box;
}
#wk-bc-widget *:focus {
	outline: none;
}
#wk-bc-widget .pull-left {
	float: left;
}
#wk-bc-widget .pull-right {
	float: right;
}
#wk-bc-widget .hide {
	display: none;
}
#wk-bc-widget .widget-toggle-btn {
	min-width: 120px;
	display: inline-block;
	background: #1747e3;
	color: #fff;
	font-weight: 500;
	text-align: center;
	cursor: pointer;
	font-size: 18px;
	padding: 10px 20px;
	border-color: #1747e3;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	position: absolute;
	right: 0;
}
#wk-bc-widget body.active .widget-toggle-btn {
	right: 429px;
	position: fixed;
	top: 50%;
	margin-top: -50px;
	min-width: 34px;
	padding: 0px 0px 10px 0;
	background: #fff;
	border-color: #fff;
	box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
}
#wk-bc-widget .widget-toggle-btn .bk {
	vertical-align: middle;
	margin-left: 10px;
	margin-bottom: 3px;
}
#wk-bc-widget body.active .widget-toggle-btn .text {
	display: none;
}
#wk-bc-widget body.active .widget-toggle-btn .bk {
	margin-top: 14px;
	background-position: -377px -1px;
}
#wk-bc-widget body.active .widget-toggle-btn .overlay {
	position: absolute;
	height: 50px;
	width: 10px;
	right: -10px;
	background: #fff;
	display: inline-block;
	top: -1px;
}
#wk-bc-widget .widget {
	display: none;
	width: 100%;
	float: left;
	background-color: transparent;
	min-height: 100%;
	height: 100%;
}

#wk-bc-widget body.active .widget {
	display: inline-block;
}
#wk-bc-widget .widget-header {
	position: relative;
}
#wk-bc-widget .widget-body {
	margin-bottom: 50px;
	background-color: transparent;
	max-width: 430px
}
#wk-bc-widget .widget-footer {
	height: 50px;
	position: fixed;
	bottom: 0;
	box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
	width: 430px;
	background: #fff;
	text-align: center;
	line-height: 50px;
	color: #a3a3a3;
	font-size: 12px;
	font-weight: 600;
}
#wk-bc-widget .widget-footer a {
	color: #777;
	text-decoration: none;
}
#wk-bc-widget .widget-header .banner {
	height: 200px;
	display: inline-block;
}
#wk-bc-widget .widget-header .banner img {
	width: 100%;
	height: 100%;
}
#wk-bc-widget .profile-image {
	position: absolute;
	top: 125px;
	width: 150px;
	height: 150px;
	left: 50%;
	margin-left: -75px;
	border-radius: 50%;
	background-color: #dcdcdc;
	overflow: hidden;
}
#wk-bc-widget .sticky-header .profile-image {
	display: none;
}
#wk-bc-widget .profile-image img {
	width: 100%;
}
#wk-bc-widget .header-info {
	display: none;
}
#wk-bc-widget .widget-header .bottom-header {
	width: 100%;
	display: inline-block;
	padding: 20px;
	padding-bottom: 0px;
}
#wk-bc-widget .sticky-header .widget-header .bottom-header {
	color: #fff;
	background: #000;
	opacity: 0.9;
	position: fixed;
	top: 0;
	z-index: 10;
	padding: 10px 20px;
}
#wk-bc-widget .small-profile-image {
	width: 55px;
	height: 55px;
	display: none;
}
#wk-bc-widget .sticky-header .small-profile-image {
	float: left;
	display: inline-block;
	margin-right: 10px;
}
#wk-bc-widget .small-profile-image img {
	width: 100%;
}
#wk-bc-widget .sticky-header .small-profile-info {
	display: block;
	overflow: hidden;
}
#wk-bc-widget .profession-info {
	text-align: center;
	padding-top: 55px;
}
#wk-bc-widget .sticky-header .profession-info {
	padding-top: 0;
	text-align: left;
}
#wk-bc-widget .profession-info h3 {
	font-size: 18px;
	margin-bottom: 0;
	font-weight: 400;
}
#wk-bc-widget .sticky-header .profession-info h3 {
	margin-top: 9px;
	font-size: 14px;
}
#wk-bc-widget .profession-info p {
	color: #4b4b4b;
	margin-top: 5px;
}
#wk-bc-widget .sticky-header .profession-info p {
	color: #fff;
	margin: 0;
}
#wk-bc-widget .sticky-header .booking-product-list {
	padding-top: 40px;
}
#wk-bc-widget .booking-product-list h3 {
	text-align: center;
	font-weight: 500;
	font-size: 14px;
	margin-bottom: 20px;
	position: relative;
	margin-top: 0;
}
#wk-bc-widget .booking-product-list .booking-product {
	padding: 20px;
	width: 100%;
	display: inline-block;
	position: relative;
}
#wk-bc-widget .booking-product-list .booking-product:hover {
	box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	overflow: hidden;
}
#wk-bc-widget .booking-product span.seperator {
	position: absolute;
	width: 80%;
	display: inline-block;
	border-bottom: 1px solid #d3d3d3;
	left: 10%;
	top: 0;
}
#wk-bc-widget .booking-product:hover span.seperator,
#wk-bc-widget .booking-product-list .booking-product:hover + .booking-product span.seperator {
	display: none;
}
#wk-bc-widget .booking-product-list .booking-product h1 {
	font-size: 28px;
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 10px;
}
#wk-bc-widget .booking-product-list .booking-product p {
	color: #4b4b4b;
	margin-top: 0;
	word-break: break-all;
}
#wk-bc-widget .btn {
	text-transform: uppercase;
	cursor: pointer;
	font-weight: 600;
	text-decoration: none;
}
#wk-bc-widget .btn:focus {
	outline: none;
}
#wk-bc-widget .btn.btn-primary {
	width: 65px;
	height: 65px;
	border: none;
	color: #fff;
	background: #2961e4;
	/* For browsers that do not support gradients */
	background: -webkit-linear-gradient(-175deg, #0544c2 0, #3a7bff 100%);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(-175deg, #0544c2 0, #3a7bff 100%);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(-175deg, #0544c2 0, #3a7bff 100%);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(-175deg, #0544c2 0, #3a7bff 100%);
	/* Standard syntax */
}
#wk-bc-widget .btn.btn-primary.circle {
	border-radius: 50%;
}
#wk-bc-widget .btn.btn-primary.circle:hover {
	background: -webkit-linear-gradient(#fff, #fff);
	background: -o-linear-gradient(#fff, #fff);
	background: -moz-linear-gradient(#fff, #fff);
	background: linear-gradient(#fff, #fff);
	box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
}
#wk-bc-widget .btn.btn-primary.circle:hover .bk {
	background-position: -109px 0;
}
#wk-bc-widget .btn.btn-default {
	padding: 15px 35px;
	border-radius: 4px;
	border: 1px solid #1747e3;
	color: #1747e3;
	background: #fff;
}
#wk-bc-widget .btn.btn-sm {
	display: inline-block;
	padding: 6px 15px;
}
#wk-bc-widget .booking-product-action {
	margin-top: 20px;
	display: inline-block;
	width: 100%;
}
#wk-bc-widget .available {
	color: #56be4b;
	line-height: 59px;
	font-weight: 600;
}
#wk-bc-widget .available .bk.bk-confirm-booking-green {
	vertical-align: middle;
	margin-right: 3px;
	margin-bottom: 2px;
}
#wk-bc-widget .un-available {
	color: #ff5656;
	line-height: 59px;
	font-weight: 600;
}
#wk-bc-widget .un-available .bk.bk-cross {
	vertical-align: middle;
	margin-right: 3px;
	margin-bottom: 2px;
}
#wk-bc-widget .sticky-header .wk-booking-product-info {
	padding-top: 55px;
}
#wk-bc-widget .wk-booking-product-info h1 {
	font-size: 28px;
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 5px;
}
#wk-bc-widget .wk-booking-product-info p {
	color: #4b4b4b;
	margin-top: 0;
}
#wk-bc-widget .wk-booking-product-info-row {
	margin-top: 20px;
}
#wk-bc-widget .wk-booking-product-info-row .btn {
	margin-top: 10px;
}
#wk-bc-widget .widget-body.extended .wk-booking-product-info-row {
	display: block;
}
#wk-bc-widget .sticky-header .widget-body {
	margin-top: 120px;
}
#wk-bc-widget .wk-booking-product-info-row:last-child {
	margin-bottom: 20px;
	width: 100%;
	display: inline-block;
}
#wk-bc-widget .wk-booking-product-info-row h3 {
	font-weight: 400;
	font-size: 15px;
	position: relative;
	margin-bottom: 8px;
}
#wk-bc-widget .wk-booking-product-info-row .custom-info-row {
	float: left;
	margin-bottom: 5px;
}
#wk-bc-widget .wk-booking-product-info-row h3 .border-bottom {
	left: 20px;
	width: 30px;
}
#wk-bc-widget .wk-booking-product-info-row label {
	float: left;
	margin-right: 10px;
}
#wk-bc-widget .back-btn {
	display: inline-block;
	margin: 0 0 20px 0;
	text-transform: uppercase;
	color: #999;
	font-weight: 600;
	cursor: pointer;
}
#wk-bc-widget .back-btn:hover {
	color: #777;
}
#wk-bc-widget .back-btn .bk {
	vertical-align: middle;
	margin-right: 5px;
	margin-bottom: 4px;
}
#wk-bc-widget .back-btn:hover .bk {
	background-position: -22px 0;
}
#wk-bc-widget .accordian-wrapper {
	border-bottom: 1px solid #d3d3d3;
	position: relative;
	margin: 60px 0;
	width: 100%;
}
#wk-bc-widget .accordian {
	width: 45px;
	height: 45px;
	border: 1px solid #d3d3d3;
	position: absolute;
	border-radius: 50%;
	left: 50%;
	margin-left: -22.5px;
	top: -22px;
	background: #fff;
	cursor: pointer;
	text-align: center;
}
#wk-bc-widget .accordian .bk {
	margin-top: 12px;
}
#wk-bc-widget .card-header {
	text-transform: uppercase;
	font-size: 14px;
	padding: 0px 20px 15px 20px;
	width: 100%;
	display: inline-block;
}
#wk-bc-widget .card:not(.active):not(.completed) .card-header {
	margin-bottom: 5px;
}
#wk-bc-widget .card-header h3 {
	color: #999;
	font-weight: 400;
	float: left;
	margin: 0;
}
#wk-bc-widget .card-header .change-info-link {
	color: #1747e3;
	float: right;
	display: none;
	cursor: pointer;
	text-transform: capitalize;
}
#wk-bc-widget .card.completed .change-info-link {
	display: block;
}
#wk-bc-widget .card.active .change-info-link {
	display: none;
}
#wk-bc-widget .card-body {
	width: 100%;
	display: inline-block;
	background-color:transparent !important;
	padding: 12px;
	border-radius: 4px;
	display: none;
	margin-bottom: 40px;
	border: 1px solid rgba(0, 0, 0, 0.2);
}
#wk-bc-widget .card.active .card-body,
#wk-bc-widget .card.completed .card-body {
	display: inline-block;
}
#wk-bc-widget .card-body .booking-info {
	display: none;
}
#wk-bc-widget .card.completed .booking-info {
	display: block;
}
#wk-bc-widget .card.completed .wk-form-wrapper {
	display: none;
}
#wk-bc-widget .card-info {
	display: none;
}
#wk-bc-widget .card.completed .card-info {
	display: block;
}
#wk-bc-widget .card-info .card-info-row {
	color: #777;
	font-weight: 600;
	margin-bottom: 10px;
}
#wk-bc-widget .card-info .card-info-row label {
	color: #2d2d2d;
	margin-right: 5px;
	min-width: 80px;
	display: inline-block;
}
#wk-bc-widget .wk-form-group {
	margin-bottom: 20px;
	float: left;
	width: 100%;
}
#wk-bc-widget .wk-form-group label {
	color: #4b4b4b;
	font-weight: 400;
}
#wk-bc-widget .card.paymentMethod .wk-form-group label {
	color: #777;
	font-weight: 600;
}
#wk-bc-widget .card.paymentMethod .wk-form-group input:checked + label {
	color: #2d2d2d;
}
#wk-bc-widget .wk-form-control {
	font-size: 15px;
	height: 45px;
	margin-top: 10px;
	padding: 0 10px 0 10px;
	width: 100%;
	background: #fff;
	border-radius: 4px;
	color: #4b4b4b;
	border: 1px solid #d3d3d3;
}
#wk-bc-widget .wk-form-control:focus {
	border: 1px solid #1747e3;
}
#wk-bc-widget .bk-radio {
	position: relative;
	display: inline-block;
	top: 5px;
	margin-right: 5px;
}
#wk-bc-widget .bk-radio input {
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	z-index: 100;
}
#wk-bc-widget .bk-radio .bk-radio-view {
	background-image: url("../images/controls.svg");
	background-position: -20px 0px;
	height: 21px;
	width: 21px;
	margin: 0 !important;
	display: inline-block;
}
#wk-bc-widget .bk-radio input:checked + .bk-radio-view {
	background-position: -20px -20px;
}
#wk-bc-widget .required::after {
	width: 5px;
	height: 5px;
	background: #ff5656;
	display: inline-block;
	content: "";
	margin-left: 5px;
	border-radius: 50%;
	vertical-align: middle;
	margin-top: -3px;
}
#wk-bc-widget .has-error .error-message {
	color: #ff5656;
	margin-top: 5px;
	font-weight: 500;
}
#wk-bc-widget .has-error .wk-form-control {
	border-color: #ff5656;
}
#wk-bc-widget .card.paymentMethod .wk-form-group {
	margin-bottom: 10px;
}
#wk-bc-widget .success-booking-wrapper {
	text-align: center;
}
#wk-bc-widget .success-booking-wrapper h1 {
	font-size: 32;
	font-weight: 300;
	display: inline-block;
	max-width: 100%;
	margin: 0;
	margin-bottom: 10px;
}
#wk-bc-widget .success-booking-wrapper h1::before {
	content: url("../images/icon-check.svg");
	position: relative;
	top: 12px;
	margin-right: 11px;
}
#wk-bc-widget .success-booking-wrapper p {
	color: #4b4b4b;
	margin-top: 0px;
}
#wk-bc-widget .booking-info {
	background: #f2f2f2;
	display: inline-block;
	text-align: left;
	padding: 15px 30px;
	width: 322px;
	border-radius: 4px;
	margin-top: 50px;
	margin-bottom: 50px;
	font-weight: 600;
	color: #4b4b4b;
}
#wk-bc-widget .booking-info-row {
	width: 100%;
	display: inline-block;
	font-weight: 500;
	margin-bottom: 5px;
}
#wk-bc-widget .booking-info-row label {
	margin-right: 15px;
	color: #2d2d2d;
}
#wk-bc-widget .booking-info-row .bk {
	margin-right: 8px;
	font-size: 18px;
	width: 18px;
	margin-top: -3px;
	vertical-align: middle;
}
#wk-bc-widget .calendar-block {
	margin: auto;
}
#wk-bc-widget .calendar-block label {
	position: relative;
}
#wk-bc-widget .calendar-block label .border-bottom {
	height: 5px;
	width: 60px;
	border-bottom: 2px solid #1894ff;
	display: inline-block;
	position: absolute;
	left: 23px;
	margin: 0;
}
#wk-bc-widget .calendar-block span.calendar-link {
	display: inline-block;
	font-weight: 600;
	vertical-align: top;
	width: 50%;
}
#wk-bc-widget .calendar-block span.calendar-link a {
	text-decoration: none;
}
#wk-bc-widget .calendar-link-wrapper {
	width: 100%;
	display: inline-block;
	margin-top: 40px;
}
#wk-bc-widget .success-booking-wrapper .button-block {
	margin: 40px 0;
}
#wk-bc-widget .success-booking-wrapper .button-block button {
	text-decoration: none;
	background: #cccccc;
	color: #fff;
	font-weight: 600;
	padding: 12px 15px;
	border-radius: 4px;
	border: none;
}
#wk-bc-widget .loader-view {
	background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 500;
	top: 0;
}
#wk-bc-widget .loader-view .loader {
	height: 60px;
	left: 50%;
	margin-left: -50px;
	margin-top: -50px;
	position: absolute;
	top: 50%;
	width: 60px;
	background-image: url(../images/loader.gif);
	display: inline-block;
	background-position: 0;
	background-size: 60px;
}
#wk-bc-widget .disabled-scroll {
	overflow: hidden;
	position: relative;
}
#wk-bc-widget .notification {
	color: #fff;
	padding: 10px 20px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	font-weight: 600;
}
#wk-bc-widget .notification.error {
	background: #ff5656;
}
#wk-bc-widget .notification.success {
	background: #56be4b;
}
#wk-bc-widget .notification .close-btn {
	position: absolute;
	right: 10px;
	top: 10px;
	font-weight: 700;
	cursor: pointer;
}
#wk-bc-widget .star {
	background-image: url(../images/icons-stars.svg);
	background-position: -13px 0px;
	height: 12px;
	width: 13px;
	display: inline-block;
	margin-right: 5px;
}
#wk-bc-widget .star.active {
	background-position: 0px 0px;
}
#wk-bc-widget .star-lg {
	background-image: url(../images/icons-stars.svg);
	background-position: -18px -12px;
	height: 18px;
	width: 18px;
	display: inline-block;
	margin-right: 5px;
}
#wk-bc-widget .star-lg.active {
	background-position: 0px -12px;
}
#wk-bc-widget .view-review-link {
	font-size: 12px;
	color: #6c6c6c;
	cursor: pointer;
}
#wk-bc-widget .rating-view .widget-body {
	padding: 0;
}
#wk-bc-widget .rating-view .widget-body .back-btn {
	padding: 20px 0 0 20px;
}
#wk-bc-widget .review-item {
	border-bottom: 1px solid #d3d3d3;
	padding: 20px;
}
#wk-bc-widget .review-item:last-child {
	border-bottom: 0;
}
#wk-bc-widget .review-item h3 {
	margin: 0;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-weight: 400;
	color: #555;
}
#wk-bc-widget .review-item label {
	margin-top: 10px;
	display: inline-block;
	font-weight: 400;
	color: #333;
}
#wk-bc-widget .review-item p {
	margin: 0;
	margin-top: 5px;
	font-weight: 400;
	color: #555;
}
#wk-bc-widget .review-item span.customer-name {
	margin-top: 15px;
	display: inline-block;
	font-weight: 400;
	color: #999;
}
#wk-bc-widget .rating-view .view-review-link {
	display: none;
}
#wk-bc-widget .rating-count {
	display: none;
}
#wk-bc-widget .rating-view .rating-count {
	display: inline-block;
}
#wk-bc-widget .datepicker,
#wk-bc-widget .datepicker-2 {
	position: relative;
	width: 100%;
	float: left;
}
#wk-bc-widget .datepicker {
	z-index: 3;
}
#wk-bc-widget .dp-below {
	width: 100%;
	max-width: 300px;
	z-index: 1;
}
#wk-bc-widget .dp-permanent,
#wk-bc-widget .dr-cals .dp-permanent {
	position: absolute !important;
	max-width: 400px;
	left: 0;
	display: none;
	top: 75px;
	width: 100%;
}
#wk-bc-widget .datepicker.open .dp-permanent,
#wk-bc-widget .datepicker-2.open .dp-permanent {
	display: block;
}
#wk-bc-widget .dp-years {
	max-height: 200px !important;
}
#wk-bc-widget .dp-cal-header {
	padding-bottom: 8px;
}
#wk-bc-widget .dp-cal-month,
#wk-bc-widget .dp-cal-year {
	padding: 8px 8px 8px;
	margin-top: 8px;
}
#wk-bc-widget .card-body .wk-control-block .dp-permanent, #wk-bc-widget .dr-cals .dp-permanent {
	display: block!important;
	position: unset!important;
}
#wk-bc-widget .card-body .wk-control-block .dr-cal-end .dp-permanent{
	display: none!important;
}

#wk-bc-widget .card-body .wk-control-block .dr-cals:before{
	position: unset;
	display: block;
}
#wk-bc-widget .card-body .wk-control-block .dp-next {
	visibility: visible!important;
}

.no-padding {
	padding: 0 !important;
}

.wk-form-group .dr-cals{
	width: 350px;
	display: block;
	border: 1px solid rgba(0, 0, 0, 0.2);
	position: absolute;
	box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	line-height: 1.4;
	z-index: 1000;
	margin-top: 6px;
}

.wk_range_calender {
	background: #227bd7!important;
	/*background: #8aefc8 !important;*/
	color: white!important;
	border-radius: unset;
}

/*.dp-day.dp-day-today {*/
/*	background: transparent;*/
/*}*/
.dp-day.dp-selected {
	color: #FFF;
	background: #227bd7;
}

.dp-day.dp-day-today.dp-selected {
	background: #3b99fc;
}

#wk-lockInfo {
	color: #ff5656;
	margin-top: 5px;
	font-weight: 500;
}
.wk-flex{
	display: flex;
}
.wk-choice-wrapper{
	flex-flow: wrap;
	height: unset !important;
}
.wk-choice{
	margin-right: 4px;
	line-height: 42.5px;
}
.wk-choice input{
	margin-right: 4px;
}
@media screen and (max-width: 444px) {
	.dp-below.dp-is-below{
		left: 10% !important;
		width: 80%;
	}
	.dp-below.dp-is-above{
		left: 10% !important;
		width: 80%;
	}
}